body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slideRight {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* div.collection-item {
  transition: 0.5s ease;
}

div.collection-item.checked {
  animation: slideRight 1.5s forwards;
} */

/* IE 10+, Fx 29+ */

div.collection-item {
  transition: 1.5s;
  transform: translate(0%);
  opacity: 1;
}

div.collection-item.checked {
  transform: translate(100%);
  opacity: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
